$c-light-mauve: #dccbe7;
$c-dark-mauve: #9274a6;

@mixin mauve-a {
  a {
    color: $c-light-mauve;

    &:hover {
      color: $c-dark-mauve;
    }
  }
}

#header {
  .social {
    @include mauve-a;
  }
}

#wrapper {
  .gr,
  .gr-w {
    // .content
    in-post-video, in-post-audio, in-post-default, in-post-photo,
    in-post-quote, in-post-link, in-post-conversation {
      .hashtag-section {
        color: $c-dark-mauve;
      }
      [class$="-infos"] {
        background: rgba($c-dark-mauve, 0.7);
      }
    }
    .footer {
      border-top-color: rgba($c-light-mauve, 0.5);
      .left {
        color: $c-dark-mauve;
      }
      .right {
        @include mauve-a;
      }
    }
  }
}

#player-wrapper {
  background-color: $c-dark-mauve;
}
