$c-light-mauve: #dccbe7;
$c-dark-mauve: #9274a6;

@mixin mauve-a {
  a {
    color: $c-light-mauve;

    &:hover {
      color: $c-dark-mauve;
    }
  }
}

#header {
  .social {
    @include mauve-a;
  }
}

#wrapper {
  .gr,
  .gr-w {
    .footer {
      .left {
        color: $c-dark-mauve;
      }
      .right {
        @include mauve-a;
      }
    }
  }
}

#player-wrapper {
  background-color: $c-dark-mauve;
}
