@import "compass/css3/transform";
@import "compass/css3/text-shadow";
@import "compass/css3/box-sizing";
@import "compass/css3/images";
$c-black: #1c1c1c;
$c-darker-black: #181818;
$c-light-grey: #6e6e6e;
$c-grey: #8f8f8f;
$droid: 'Droid Sans';
$playfair: 'Playfair Display Sans';

@function headings($from:1, $to:6) {
  @if $from == $to {
    @return 'h#{$from}';
  }
  @else {
    @return 'h#{$from},' + headings($from+1, $to);
  }
}

@mixin neutral-a {
  text-decoration: none;
  color: inherit;
  &:focus {
    outline: none;
  }
}

body {
  background-image     : url('../images/background.png');
  background-repeat    : no-repeat;
  background-attachment: fixed;
  background-position  : top;
  background-size      : 100% auto;
  font-family          : $droid;
}

.social {
  margin-top    : 20px;
  letter-spacing: 0.5em;
  a {
    @include neutral-a;
  }
}

#menu {
  position        : fixed;
  top             : 0;
  left            : 0;
  z-index         : 20;
  width           : 400px;
  height          : 100%;
  background-color: $c-darker-black;
  color           : $c-light-grey;
  #m-close {
    @include neutral-a;
    color   : white;
    position: absolute;
    top     : 10px;
    right   : 10px;
  }
  #m-content {
    margin: 75px 50px;
    #m-top {
      padding-bottom: 40px;
      border-bottom : {
        width: 1px;
        style: solid;
        color: rgba($c-light-grey, 0.2);
      }
      h4 {
        color      : white;
        font-family: $playfair;
        font-size  : 1.3em;
      }
      .social {
        a {
          color: $c-light-grey;
          &:hover {
            color: $c-grey;
          }
        }
      }
    }

    #m-items {
      padding-bottom: 7px;
      padding-top   : 7px;
      a {
        @include neutral-a;
        font-family   : $playfair;
        font-size     : 1.3em;
        color         : white;
        display       : block;
        width         : 100%;
        padding-bottom: 7px;
        padding-top   : 7px;
        &:hover {
          background-color: lighten($c-darker-black, 5);
        }
        &:active {
          background-color: lighten($c-darker-black, 10);
        }
      }
    }

    #m-footer {
      border-top: {
        width: 1px;
        style: solid;
        color: rgba($c-light-grey, 0.2);
      }
      p {
        font-size: 0.8em;
        text-align: right;
        a{
          @include neutral-a;
          &:hover{
            color: #4078C0;
          }
        }
      }
    }
  }
  // #m-content
}
// #menu
#wrapper {
  max-width   : 900px;
  margin-right: auto;
  margin-left : auto;
}

#menu-btn-wrapper,
#search-block {
  position: absolute;
  top     : 10px;
}

#menu-btn-wrapper {
  left: 50px;

  #menu-btn {
    color: $c-black;
  }
}

#search-block {
  right: 50px;

  input {
    display         : inline-block;
    @include box-sizing(content-box);
    padding         : 2px 0;
    border          : none;
    -o-text-overflow: clip;
    text-overflow   : clip;
    @include background(rgba(0,0,0,0));
    @include text-shadow(1px 1px 0 rgba(255,255,255,0.66) );
  }
}

#header {
  margin-top: 40px;
  color     : $c-grey;
  text-align: center;

  #img-profile {
    img {
      border-radius: 50%;
    }
  }

  h1 {
    font          : $droid;
    font-weight   : bold;
    @include scale( 1.2, 1);
    text-transform: uppercase;
    letter-spacing: 0.5em;
    font-size     : 2em;
    color         : $c-black;
  }

  p {
    font-family: $playfair;
    font-style : italic;
    font-size  : 0.95em;
  }
}
// #header
#post-section {}
