@import "compass/css3/flexbox";
@import "compass/css3/transform";
@import "compass/css3/text-shadow";
@import "compass/css3/box-sizing";
@import "compass/css3/images";
@import "_variables";
@import "_mixins";
@import "_progress-bar";
@import "_grid";

body {
  background-image     : url('../images/background.png');
  background-repeat    : no-repeat;
  background-attachment: fixed;
  background-position  : top;
  background-size      : 100% auto;
  font-family          : $droid;
  margin-bottom        : $player-height + 20px;
}

.social {
  margin-top    : 20px;
  letter-spacing: 0.5em;

  a {
    @include neutral-a;
  }
}
@import "_menu";
@import "_player";

#wrapper {
  max-width   : $wrapper-width;
  margin-right: auto;
  margin-left : auto;
}

#menu-btn-wrapper,
#search-block {
  position: absolute;
  top     : 10px;
}

#menu-btn-wrapper {
  left: 50px;

  #menu-btn {
    color: $c-black;
  }
}

#search-block {
  right: 50px;

  input {
    display         : inline-block;
    @include box-sizing(content-box);
    padding         : 2px 0;
    border          : none;
    -o-text-overflow: clip;
    text-overflow   : clip;
    @include background(rgba(0,0,0,0));
    @include text-shadow(1px 1px 0 rgba(255,255,255,0.66) );
  }
}

#header {
  margin-top: 40px;
  color     : $c-grey;
  text-align: center;

  #img-profile {
    img {
      border-radius: 50%;
    }
  }

  h1 {
    font          : $droid;
    font-weight   : bold;
    @include scale( 1.2, 1);
    text-transform: uppercase;
    letter-spacing: 0.5em;
    font-size     : 2em;
    color         : $c-black;
  }

  p {
    font-family: $playfair;
    font-style : italic;
    font-size  : 0.95em;
  }
}
// #header
#post-section {}
