<!doctype html>
<html>

  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Playfair+DisplaySans">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/color.css -->
    <link rel="stylesheet" href="styles/color.css">
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/my-icons.css -->
    <link rel="stylesheet" href="styles/my-icons.css">
    <!-- endbuild -->
  </head>

  <body ng-app="myTumblrApp" ng-controller="UicontrollerCtrl">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <nav id="menu" ng-show="isMenuOpen">
      <a id="m-close" href="#" ng-click="isMenuOpen = false"><i class="i i-close i-2x"></i></a>
      <div id="m-content">
        <div id="m-top">
          <h4>Coucou,</h4>
          <p>
            Lorem ipsum dolor sit amet, BONJOUR consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit
          </p>
          <div class="social">
            <a href="#"><i class="i i-dribbble"></i></a>
            <a href="#"><i class="i i-facebook "></i></a>
            <a href="#"><i class="i i-instagram"></i></a>
            <a href="#"><i class="i i-twitter "></i></a>
          </div>
        </div>
        <div id="m-items">
          <a href="#">Accueil</a>
          <a href="#">Archives</a>
          <a href="#">Biographie</a>
          <a href="#">Contact</a>
          </ul>
        </div>
        <div id="m-footer">
          <p>made by <a href="https://github.com/Hahuha/angularXtumblr" target="_blank"><i class="i i-github i-lg"></i>Carvallegro</a></p>
        </div>
      </div>
    </nav>

    <section id="wrapper" ng-controller="PostcontrollerCtrl" ng-init="init()">
      <div id="menu-btn-wrapper">
        <a id="menu-btn" href="#" ng-click="$parent.isMenuOpen = true"><i class="i i-menu i-lg"></i></a>
      </div>
      <div id="search-block"><span>
        <i class="i i-search i-lg"></i></span>
        <input type="text" size="5" placeholder="Search..."></input>
      </div>
      <div id="header">
        <p>
          <a id="img-profile" href="#"><img src="images/profile.png" /></a>
        </p>
        <div class="social">
          <a href="#"><i class="i i-dribbble"></i></a>
          <a href="#"><i class="i i-facebook"></i></a>
          <a href="#"><i class="i i-instagram"></i></a>
          <a href="#"><i class="i i-twitter"></i></a>
        </div>
        <h1>{{title}}</h1>
        <p>{{author}}</p>
        <p>{{description}}</p>
      </div>
      <div id="post-section">
        <h4>Posts trashed</h4>
        <ul>
          <p ng-show="!trashedPosts.length"><i>Liste vide</i></p>
          <li id="{{p.id}}" ng-repeat="p in ( trashedPosts = (posts | filter:{isTrash:true}))">
            <p>{{p.type}} - {{p.date}} - {{p.tags}} - {{p.reblog}}
              <input type="checkbox" ng-model="p.isTrash" ng-change="trash(p.id)">Montrer</p>
            </p>
          </li>

        </ul>

        <h4>Posts playlisted</h4>
        <ul>
          <p ng-show="!playlistPosts.length"><i>Liste vide</i></p>
          <li id="{{p.id}}" ng-repeat="p in ( playlistPosts = (posts | filter:{isPlaylist:true}))">
            <p>{{p.type}} - {{p.date}} - {{p.tags}} - {{p.reblog}}
              <input type="checkbox" ng-model="p.isTrash" ng-change="trash(p.id)">Montrer</p>
            </p>
          </li>

        </ul>

        <h4>Posts affichés</h4>
        <ul infinite-scroll="loadPosts()" infinite-scroll-distance="0">
          <p ng-show="!showedPosts.length"><i>Liste vide</i></p>
          <ext-post ng-repeat="p in ( showedPosts = (posts | filter:{isTrash:false}))" post="p"></ext-post>
        </ul>
    </section>

    <section id="player-wrapper">
      <div id="pl-info">
        <div id="pl-song">Starfuckeuze</div>
        <div id="pl-artist">Rohff</div>
      </div>
      <div id="pl-control">
        <a id="pl-previous" href="#"><i class="i i-previous"></i></a>
        <a id="pl-play" href="#"><i class="i i-play"></i></a>
        <a id="pl-next" href="#"><i class="i i-next"></i></a>
      </div>
      <div id="pl-time">
        <div id="pl-pg-table">
          <div id="pl-c-time"><span>0:00</span></div>
          <div id="pl-progress" class="progress">
              <div class="indeterminate" style="width: 90%"></div>
          </div>
          <div id="pl-c-total"><span>3:32</span></div>
        </div>
      </div>
    </section <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <script type="text/javascript">
      loadedData = {
        userID: 'carvallegro',
        tumblrURL: 'http://carvallegro.tumblr.com/api/read/json',
        ajaxError: function(jqXHR, textStatus, errorThrown) {
          console.error(textStatus + ' - ' + errorThrown);
        }
      }
    </script>

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/services/tumblrservice.js"></script>
    <script src="scripts/services/cacheservice.js"></script>
    <script src="scripts/controllers/postcontroller.js"></script>
    <script src="scripts/directives/extpost.js"></script>
    <script src="scripts/directives/inpostdefault.js"></script>
    <script src="scripts/directives/inpostconversation.js"></script>
    <script src="scripts/directives/inpostlink.js"></script>
    <script src="scripts/directives/inpostquote.js"></script>
    <script src="scripts/directives/inpostphoto.js"></script>
    <script src="scripts/directives/inpostaudio.js"></script>
    <script src="scripts/directives/inpostvideo.js"></script>
    <script src="scripts/controllers/uicontroller.js"></script>
    <!-- endbuild -->

    <script type="text/javascript">
      window.onload = function() {
        var scope = angular.element('[ng-controller="PostcontrollerCtrl"]').scope();
        scope.$apply(function() {
          scope.init();
        });
      };
    </script>

    <script type="text/ng-template" id="conversation">
      <in-post-conversation></in-post-conversation>
    </script>
    <script type="text/ng-template" id="link">
      <in-post-link></in-post-link>
    </script>
    <script type="text/ng-template" id="quote">
      <in-post-quote></in-post-quote>
    </script>
    <script type="text/ng-template" id="photo">
      <in-post-photo></in-post-photo>
    </script>
    <script type="text/ng-template" id="regular">
      <in-post-default></in-post-default>
    </script>
    <script type="text/ng-template" id="audio">
      <in-post-audio></in-post-audio>
    </script>
    <script type="text/ng-template" id="video">
      <in-post-video></in-post-video>
    </script>
  </body>

</html>
